{% extends 'base.html' %}
{% block title1 %}Propiedades{% endblock %}
{% block title2 %}Propiedades{% endblock %}
{% block content %}
{% load static %}

<section class="ftco-section">
    <div class="container">
        {% if message %}
            <p> {{ message }}</p>
        {% endif %}
        <div class="row">
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Busqueda de propiedades</h3>
                    <form autocomplete="off" method="post"> {% csrf_token %}
                        <div class="fields">

                            <!-- search properties by city's name(this time, we give it the cities that we loaded)-->
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="city_id" class="form-control">
                                        <option selected value="0">Seleccione una ciudad</option>
                                        {% for city in cities %}
                                            <option value="{{ city.id }}">{{ city.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- search properties by date's range -->
                            <div class="form-group">
                                <input type="text" name="checkin_date" class="form-control checkin_date"
                                       placeholder="Desde que dia">
                            </div>
                            <div class="form-group">
                                <input type="text" name="checkout_date" class="form-control checkout_date"
                                       placeholder="Hasta que dia">
                            </div>
                            <div class="form-group">
                                <input type="number" name="cant_guests" class="form-control"
                                       placeholder="Cantidad de Huespedes">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Buscar" class="btn btn-primary py-3 px-5">
                            </div>

                        </div>
                    </form>
                </div>
            </div><!-- END-->

            <div class="col-lg-9">
                <div class="row">
                    {% if properties %}
                        {% for prop in properties %}
                            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                                <div class="destination">
                                    <a href="{% url 'renting:single_property' prop.id %}"
                                       class="img img-2 d-flex justify-content-center align-items-center"
                                       style="background-image: url({{ prop.img.url }});">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-link"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3">
                                        <div class="d-flex">
                                            <div class="one">
                                                <h3><a href="#">{{ prop.city.name }}</a></h3>
                                            </div>
                                            <div class="two">
                                                <span class="price per-price">${{ prop.price }}</span>
                                            </div>
                                        </div>
                                        <p>{{ prop.title }}</p>
                                        <hr>
                                        <p class="bottom-area d-flex">
                                            <span><i class="icon-map-o"></i> {{ prop.city.name }}</span>
                                            <span class="ml-auto"><a href="{% url 'renting:single_property' prop.id %}">Reserve ahora</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
{% endblock %}